.container1 {
 position: relative;
 display:flex;
 justify-content:center;
}

/* Popup container */
.popup {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 600px;
  right: 0
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


